<div class="actors">
  <div class="container">
    <h1>Actors</h1>
  </div>
</div>

<div class="main">
  <div class="container">
  <table>
    <% @actors.each do |a| %>
    <div>
      <tr>
        <td><img src=<%= a.image %> alt=""></td>
        <td>
          <h3><%= a.first_name %> <%= a.last_name %></h3>
          <h4><%= a.bio %></h4>
          <%= link_to "Learn more", actor_path(a) %>
        </td>
      </tr>
    </div>
    <% end %>
  </table>
  </div>
</div>
